body {
	background-image: url(../img/background.jpg);
	background-color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding-top: 120px;
}

.navbar {
	line-height: 60px;
}

.navbar-inverse  .navbar-inner {
	background-color: rgba(0,0,0,0.2);
	background-image: none;
	border-color: #252525;
}

.container {
	/*width: 900px;*/
	width:100%;
}

.navbar-fixed-top .container {
	width: 900px;
}

.hero-unit {
	background-color: inherit;
	padding:60px 0px 60px;
	color: #eeeeee;
	text-shadow: black 0.1em 0.1em 0.2em;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

hr {
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: none;
	margin-left: -10px;
	margin-right: -10px;
}

li {
	line-height: inherit;
}

a:hover {
	color: #08c;
}

.navbar-inverse .nav  li > a {
	font-size: 20px;
	color: #dddddd;
	text-shadow: rgba(0,0,0,0.5) 0.1em 0.1em 0.2em;
	padding: 10px 35px 10px;
}

.navbar-inverse .nav  li  a > i {
	font-size: 40px;
}

.navbar-inverse .nav  li  a > i.small {
	font-size: 20px;
}

.navbar-inverse .nav  li > a:hover {
	color: #ffffff;
	background-color: rgba(0,0,0,0.1);
	
}

.navbar-inverse .nav  li.active > a {
	color: #fff;
	background-color: rgba(0,0,0,0.2);
}

.navbar-inverse .nav  li.active > a:hover {
	background-color: rgba(0,0,0,0.2);
}

.navbar .nav li.dropdown.open > .dropdown-toggle {
	background-color: rgba(0,0,0,0.1);
}

.dropdown-menu {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px;
	border-color: #252525;
	border: 0px;
	margin-top: 0px;
}

.dropdown-menu .active > a {
	background-image: none;
}

.dropdown-menu li > a:hover {
	background-image: none;
}

.dropdown-menu .divider {
	width: 100%;
	border: 0px;
	background-color: rgba(255,255,255,0.2);
}

.nav-header { 
	color: #eeeeee;
	font-size: 16px;
}

.dropdown-menu li.dmenu > a{
	font-size: 18px;	
}

.navbar .nav > li > .woei::before {
	display: none;
}

.navbar .nav > li > .woei::after {
	display: none;
}

.darkbox {
	background-color: rgba(0,0,0,0.2);
	color: #eeeeee;
	right: 0;
	left: 0;
	width: 100%;
}

.content .lightbox {
	background-color: rgba(255,255,255,0.5);
	color: #222222;
	padding: 10px;
	margin: 0px;
}

.row {
	margin-left: 0px;
}

.content {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	margin-top: 50px;
	color: #999999;
}

.accordion-heading  {
	background-color: rgba(0,32,64,0.2);
	border-bottom: 1px solid #bbbbcc;
	border-top: 1px solid #bbbbcc;
}

.accordion-inner  {
	background-color: rgba(96,128,160,0.2);
	border-top: 0px;
	
}

.accordion-group {
	border: 2px solid #bbbbcc;
}

.accordion-toggle {
	color: #dddddd;
	font-weight: bold;
}

.nolist {
	list-style: none;
}

.nolist li {
	line-height: 21px;
}

i.checkbox {
	font-size: 21px;
	font-weight: bold;
}

.rounded {
	border-radius: 5px;
}

.content .row-fluid {
	margin-bottom: 20px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    background:url(../img/glyphicons_153_unchecked.png) no-repeat;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/glyphicons_152_check.png) no-repeat;
}

label {
	font-size: 16px;
}

.btn {
	vertical-align: top;
}










